<ion-view>
    <ion-nav-title>Warenkorb</ion-nav-title>
    <ion-content>
        <ion-list ng-if="cart.length">
            <ion-item ng-repeat="item in cart">
                <h2>{{item.name}}</h2>
                <p>{{item.price | currency}}</p>
                <ion-option-button class="button-assertive" ng-click="removeFromCart($index)">
                    <i class="icon ion-minus-circled"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <p ng-if="!cart.length" class="padding text-center">
            Dein Warenkorb ist nocht leer!
        </p>
    </ion-content>
    <ion-footer-bar>
        <div class="row">
            <div class="col col-50"><b>Gesamt:</b></div>
            <div class="col col-50 text-right"><b>{{calcTotalSum() | currency}}</b></div>
        </div>
    </ion-footer-bar>
</ion-view>
